/* mixins */
/* Sizes */
/* colours */
/* Fonts */
/* font-sizes */
/* Size and dimensions */
/* Basic layout */
/* FLEX ITEMS */
/*@mixin grid-flex-container($grow, $shrink, $basis)
{
    @include flex-item($grow, $shrink, units2pixels($basis)+$spacing);
    margin:0;
}

@mixin grid-flex-item($grow, $shrink, $basis)
{
    @include flex-item($grow, $shrink, $basis);
    margin:$spacing 0 0 $spacing;
}*/
/* Transitions */
/* Different components that can be reused through sites directly */
select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="button"],
input[type="submit"] {
  height: 32.5px; }

input-section {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-flow: column nowrap;
  max-width: 100%;
  border-bottom: 1px solid #333; }
  input-section::last-child {
    border: none; }
  input-section input-row {
    -webkit-flex: 1 0 100%;
    -moz-flex: 1 0 100%;
    flex: 1 0 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-flow: row wrap; }
  input-section.horizontal {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-flow: row nowrap; }
    input-section.horizontal input-row {
      -webkit-flex: 1 0 auto;
      -moz-flex: 1 0 auto;
      flex: 1 0 auto;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-flex-flow: column wrap;
      -ms-flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-flow: column wrap; }

input-group {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 10px; }
  input-group input-set {
    padding: 0; }

input-set {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 10px; }
  input-set.xs {
    -webkit-flex: 0.125 0 75px;
    -moz-flex: 0.125 0 75px;
    flex: 0.125 0 75px; }
  input-set.s {
    flex-basis: 117.5px; }
  input-set.m {
    flex-basis: 160px; }
  input-set.l {
    flex-basis: 245px; }
  input-set.xl {
    -webkit-flex: 1 0 330px;
    -moz-flex: 1 0 330px;
    flex: 1 0 330px; }
  input-set label {
    display: block;
    line-height: 32.5px;
    width: 100%; }
  input-set input,
  input-set select,
  input-set textarea {
    width: 100%; }

@keyframes loading-icon-heartbeat {
  0% {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  50% {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: -15%; }
  100% {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; } }

.loading-icon-heartbeat {
  animation: 2s loading-icon-heartbeat infinite ease-in; }

/*Page sass files*/
* {
  box-sizing: border-box; }

html, body {
  background-color: #f1f1f1;
  color: #111111;
  font-size: 1rem; }

#colors-container {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  font-size: 0;
  max-width: 100%;
  padding: 10px 0 0 10px; }
  #colors-container > * {
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 10px 0;
    height: 160px;
    width: 160px; }
  #colors-container .color-box {
    /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
    /*height: units2pixels($yunits);*/
    background-color: #e1e1e1; }

#grid-system-container {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  font-size: 0;
  max-width: 100%;
  padding: 10px 0 0 10px;
  background-color: #e1e1e1; }
  #grid-system-container > * {
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 10px 0;
    height: 160px;
    width: 160px; }
  #grid-system-container .grid-item {
    /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
    width: 160px;
    /*height: units2pixels($yunits);*/
    background-color: #8995BB; }
  #grid-system-container .grid-item-Wx2 {
    /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
    width: 330px;
    /*height: units2pixels($yunits);*/
    background-color: #8995BB; }
  #grid-system-container .grid-item-Wx3 {
    /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
    width: 500px;
    /*height: units2pixels($yunits);*/
    background-color: #8995BB; }
  #grid-system-container .grid-item-subgrid {
    height: 170px;
    width: 170px;
    padding: 0;
    margin: 0;
    box-sizing: content-box; }
    #grid-system-container .grid-item-subgrid > * {
      vertical-align: top;
      display: inline-block;
      margin: 0 10px 10px 0;
      height: 75px;
      width: 75px; }
    #grid-system-container .grid-item-subgrid .grid-item {
      /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
      width: 75px;
      /*height: units2pixels($yunits);*/
      background-color: #8995BB; }
    #grid-system-container .grid-item-subgrid .grid-item-subgrid-subgrid {
      height: 85px;
      width: 85px;
      padding: 0;
      margin: 0;
      box-sizing: content-box; }
      #grid-system-container .grid-item-subgrid .grid-item-subgrid-subgrid > * {
        vertical-align: top;
        display: inline-block;
        margin: 0 10px 10px 0;
        height: 32.5px;
        width: 32.5px; }
      #grid-system-container .grid-item-subgrid .grid-item-subgrid-subgrid .grid-item {
        /*vertical-align: top;
    display:inline-block;
    margin:0 $spacing $spacing 0;*/
        width: 32.5px;
        /*height: units2pixels($yunits);*/
        background-color: #8995BB; }
