/* Sizes */
$grid: 28;
$spacing:10px;
$min_width: 320px;
$max_width: 1200px;
$min_height:420px;
$unit: ($max_width - ($spacing*($grid+1)))/$grid;

/* break points */
$breakpoint_mobile: 440px;
$breakpoint_tablet_s: 600px;
$breakpoint_tablet_l: 800px;
$breakpoint_screen_s: 1024px;
$breakpoint_screen_m: 1280px;

/* TEXT */
$color_text: #242424;
$color_text_inv:#f1f1f1;

/* colours */
$color_bg:#f1f1f1;
$color_main: #29668F;
$color_dark:#242424;
$color_mid:#fff;
$color_light:#fff;

$color_highlight: #BC1A1A;

/* burger icon colors */
$burgericon_color:$color_text_inv;
$burgericon_color_hover:$color_light;


/* Fonts */
$font_base: 'Lato', sans-serif;
$font_header: 'Raleway', sans-serif;
$font_quote: 'Arvo', serif;

/* font-sizes */
$fontsize_title: 3.2rem;
$fontsize_h1: 2.2rem;
$fontsize_h2: 1.6rem;
$fontsize_h3: 1.4rem;
$fontsize_h4: 1.3rem;
$fontsize_h5: 1.2rem;
$fontsize_h6: 1rem;

$fontsize: 1.1rem;

$fontsize_xl: 1.4rem;
$fontsize_l: 1.2rem;
$fontsize_s:.9rem;
$fontsize_xs:0.85rem;

$fontsize_menu:1.15rem;
$fontsize_menu_mobile:1rem;

$fontsize_label: 0.9rem;
$fontsize_input: 1rem;

/* inputs */
$color_input_bg: #F1EEEE;
$color_input_border:#F1EEEE;

$color_input_selected_bg:#FFFFFF;
$color_input_selected_border:#727070;

$input_height:45px;
$input_row_spacing: 20px;

$btn_height:60px;